
header {
  background-color: #4CAF50;
  padding: 20px;
  color: white;
  position: relative;
}

header .senalogo {
  position: absolute;
  top: 10px;
  left: 15px;
  margin-right: auto;
}
header h1 {
  text-align: center;
}


h1 {
  font-family: "Arial", sans-serif;
  font-size: 32px;
  
}

#botones {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 20px 40px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: transform 0.2s;
  font-family: "Arial", sans-serif;
  font-size: 18px;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}

#mapa {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#mapa iframe {
  width: 600px;
  height: 450px;
  border: 0;
}


footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}


footer a {
  color: #4CAF50;
  text-decoration: none;
}


body {
  background-color: #e9e9e9;
  color: #333;
}

